/* Hide the thumb by default */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Required for Chrome */
    appearance: none;
    width: 0;  /* Hide thumb */
    height: 0; /* Hide thumb */
    background: transparent; /* Make thumb invisible */
  }
  
  /* Show thumb on hover */
  input[type="range"]:hover::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    margin-left: -2px;
    border-radius: 100%;
    background-color: rgb(222, 11, 11); /* Light color for thumb */
  }
  
  /* Hide thumb by default for Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 0;  /* Hide thumb */
    height: 0; /* Hide thumb */
    background: transparent; /* Make thumb invisible */
  }
  
  /* Show thumb on hover for Firefox */
  input[type="range"]:hover::-moz-range-thumb {
    width: 10px;
    height: 10px;
    margin-left: -2px;
    border-radius: 100%;
    background-color: rgb(222, 11, 11); /* Light color for thumb */
  }
  